.form {
    &-small {
        max-width: 400px;
    }
    &-medium {
        max-width: 800px;
    }
    &-big {
        max-width: 100%;
    }
}

.table {
    &-container {
        max-width: 60%;
        @media (max-width: 1550px) {
            max-width: 100%;
        }
    }
    &-row {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
    }
}

.error {
    &-text {
        &-single {
            font-size: 22px;
            color: #dc3545;
        }
    }
    &-message {
        p {
            padding-top: 5px;
            font-size: 12px;
            color: #dc3545;
        }
    }
}

#register-form, 
#login-form {
    &:not(.no-border) {
        border: 1px solid lightgray;
        border-radius: 10px;
    }
}