.side-navigation {
    background-color: gray;
    padding-top: 2rem;
    min-height: calc(100vh - 56px);
}
.side-navigation ul {
    list-style: none;
    padding: 0;
}
.side-navigation ul li {
    padding: 0 0 10px 0;
}
.side-navigation ul li a {
    font-size: 20px;
    color: lightgray;
}
.block-with-sidebar {
    padding-top: 1.5rem;
}

.btn-container {
    text-align: center;
}
.btn.btn-form {
    width: 90px;
    padding: 5px 10px;
}
.preview-giga {
    max-width: 970px;
    max-height: 250px;
    overflow: hidden; 
    border: 1px solid;
}
.preview-tower {
    max-width: 300px;
    max-height: 600px;
    overflow: hidden; 
    border: 1px solid;
}

.preview-block {
    background: lightgray;
    border: 1px solid black;
}
.preview-block span {
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}
.drag {
    position: absolute;
    z-index: 10;
    width: 5px;
    height: 5px;
    background: gray;
}
.drag-top {
    top: -3px;
}
.drag-bottom {
    bottom: -3px;
}
.drag-left {
    left: -3px;
}
.drag-right {
    right: -3px;
}


.template-block {
    width: calc(100% - 200px);
}
.template-block-giga {
    max-width: 970px;
}
.template-block-tower, .template-block-square {
    max-width: 300px;
}
.template-sidebar {
    width: 190px;
    padding-left: 10px;
}

.color-scheme-title {
    font-size: 40px;
}
.text-preview {
    font-size: 32px;
}
.color-scheme-container {
    border: 1px solid gray;
    border-radius: 10px;
}
.color-scheme-preview-container {
    padding-bottom: 12px;
}
.cta-preview {
    display: block;
    width: fit-content;

    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 5px;
}

.preview-block-container {
    width: fit-content;
    margin: auto;
}


.default-text {
    line-height: 1;
}
.cta-button {
    border-radius: 5px;
}
.cta-button span {
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}